/*banner*/
.swiper-slide
{
	width: 100%;
	overflow: hidden;
}
/*.swiper-container
{
	border-bottom: 10px solid gray;
}*/
.price
{
	background: white;
}
.price-frame
{
	margin:0 2.5%;
	height: 40px;
	border-bottom: 1px rgb(240,240,240) solid;
	border-top:10px solid gray;;
	line-height: 40px;
	color: rgb(255,102,51);
	font-size: 24px;
	position: relative;
}
.price-number
{
	font-size:30px;
	margin-left: -2%;
}
.price-dele
{
	font-size: 12px;
	color: gray;
	text-decoration: line-through;
}
.price-btn
{
	position: absolute;
	top:50%;
	right: 0;
	transform: translateY(-50%);
	background: rgb(255,102,51);
	border: 0 solid #000;
	border-radius: 5% ;
	color: white;
	padding: 7px 20px;
	font-size: 16px;
}
 .price-ico
{
	width: 18px;
	height: 18px;
	display: inline-block;
	background-image: url(../img/comm.png);
	background-position: -10px 82%;
	vertical-align: middle;
	border-radius: 100%;
}
.price-frame>ul>li
{
	float: left;
	color:black;
	font-size: 14px;
	width: 50%;
	height: 45px;
	line-height: 45px;
}
/*-------------------------------------------------------分割线--------------------------------------------------------------*/
/*shop*/
.shop
{
	margin-top:25px;
	background: white;
}
.shop-frame
{
	margin-left: 2.5%;
	font-size: 14px;
}
.shop-store
{
	color: gray;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid rgb(240,240,240);
}
.shop-detail
{
	/*height: 80px;*/
	font-size: 20px;
	font-weight: bold;
	color: gray;
	margin-top: 15px;
}
.shop-star-gray
{
	position: relative;
	width: 172px;
	height: 30px;
	overflow: hidden;
	margin-top: 15px;
}
.star
{
	position: absolute;
	left: 0;
	bottom: 0px;
}
.shop-address
{
		padding: 20px 0;
		border-top: 1px solid rgb(240,240,240);
}
.shop-address>i
{
	height: 20px;
	width: 20px;

}
.shop-address>i>img
{
	width: 20px;
	vertical-align: middle;
}
.shop-address-text
{
	font-size: 16px;
}
.footer
{
	height: 40px;
	width: 100%;
	position: fixed;
	bottom: 0;
	background: white;
}
.footer>input
{
	height: 40px;
	width: 96%;
	margin:0 2%;
	font-size: 18px;
	line-height: 40px;
	background: rgb(255,102,51);
	color: white;
	border-radius: 7px;
}
.detail-info
{
	background: white;
	margin-top: 25px;
	padding:10px 2.5%;  
}
.tit
{
	color: gray;
	padding: 15px 0;
}
.this-detail>tr>td
{
	font-size: 14px;
	color: gray;
}
.this-detail td,th
{
	padding: 10px 0;
}
p
{
	font-size: 14px;
	padding: 10px 0;
	border-bottom: 1px solid rgb(240,240,240);
	color: gray;
}
.this-detail>tr
{
	border-bottom: 1px solid rgb(240,240,240);
}