.login{width: 500px; margin: auto; background: #999999;}
.login>input{display: block;margin: auto;margin-bottom:10px;}
.btn{text-align: center;margin: auto; height: 30px;}
.login .mid{
	width: 200px;
	margin-left: 50%;
}