.container{width: 100%; position: relative;}

.header{position: fixed; top: 0; width: 100%; height: 42px; border-bottom: solid 1px #ccc; text-align: center;}
.header h2{margin: 0}

.body{position: fixed; top: 42px; left: 0; right: 0; bottom: 32px;}

.menu{position: absolute; top: 0; bottom: 0; left: 0; width: 228px; border-right: solid 1px #ccc;}

.content{position: absolute; top: 0; bottom: 0; left: 229px; right:  0; overflow: auto;background: #eaebee;}

.footer{position: fixed; border-top: solid 1px #ccc; bottom: 0;  height: 32px; width: 100%; text-align: center;}
.newdiv{
	padding:2px;
	float: left;
	background: blue;
	color: white;
	margin-top: 5px;
	margin-left: 15px;
}
.logout{
	padding:2px 5px;
	background: red;
	color: white;
	position: absolute;
	z-index: 100;
	right:10px;
	top:5px;
}